<div class="text-center">
  <div class="flex justify-center">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Previous
      </div>
      <div
        class="btn btn-info"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        Next
      </div>
    </div>
  </div>
  <div class="my-4">
    <span>{{ currentTime | async | date: 'HH:mm:ss' }}</span>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
</div>
<br/>

<div *ngIf="canEditSchedule()" class="flex justify-center">
  <label for="update-event-modal" class="btn btn-secondary mb-5">Update schedule</label>
</div>

<mwl-calendar-day-view
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  [eventTemplate]="hoDayCell"
  [minimumEventHeight]="60"
  (eventTimesChanged)="eventTimesChanged($event)"
  (eventClicked)="handleEvent($event.event)"
  [dayStartHour]="8"
>
</mwl-calendar-day-view>

<input type="checkbox" id="update-event-modal" class="modal-toggle"/>
<div class="modal">
  <div class="modal-box w-11/12 max-w-6xl">

    <label for="update-event-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>

    <div class="m-5 flex justify-center">
      <button class="btn btn-info" (click)="addEvent()">Add new event</button>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered w-full">
        <thead>
        <tr>
          <th>Color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Information</th>
          <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let event of userEvents">
          <td>
            <input
              type="color"
              [(ngModel)]="event.color!.secondary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input class="ho-input-primary"
                   type="text"
                   mwlFlatpickr
                   [(ngModel)]="event.start"
                   (ngModelChange)="refresh.next()"
                   [altInput]="true"
                   [convertModelValue]="true"
                   [enableTime]="true"
                   minDate="today"
                   dateFormat="Y-m-dTH:i"
                   altFormat="F j, Y H:i"
                   placeholder="Not set"
                   [time24hr]="true"
            />
          </td>
          <td>
            <input class="ho-input-primary"
                   type="text"
                   mwlFlatpickr
                   [(ngModel)]="event.end"
                   (ngModelChange)="refresh.next()"
                   [altInput]="true"
                   [convertModelValue]="true"
                   [enableTime]="true"
                   dateFormat="Y-m-dTH:i"
                   altFormat="F j, Y H:i"
                   placeholder="Not set"
                   [minDate]="event.start"
                   [time24hr]="true"
            />
          </td>
          <td>
            <textarea class="ho-textarea-primary resize-none" [(ngModel)]="event.info"
                      placeholder="Additional information" rows="5" resize="false"></textarea>
          </td>
          <td>
            <button class="btn btn-error" (click)="deleteEvent(event)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-action">
      <label (click)="updateEvents()" for="update-event-modal" class="btn btn-success">Save</label>
    </div>

  </div>
</div>

<input type="checkbox" id="event-modal" class="modal-toggle"/>
<div class="modal">
  <div class="modal-box w-11/12 max-w-6xl flex flex-col justify-center items-center">

    <label for="event-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>

    <h5 class="text-3xl text-primary">{{ modalData.title }}</h5>

    <div id="event-dates" class="flex mt-2">
      <span>{{ modalData.start | date: 'dd-MM-yyyy HH:mm' }}</span>&nbsp;&nbsp;-&nbsp;&nbsp;
      <span>{{ modalData.end | date: 'dd-MM-yyyy HH:mm' }}</span>
    </div>

    <div class="text-2xl my-6 font-bold" [ngClass]="modalData.isAvailable ? 'text-success' : 'text-error'">
      <span *ngIf="modalData.isAvailable; else notAvailable">AVAILABLE</span>
      <ng-template #notAvailable>NOT AVAILABLE</ng-template>
    </div>

    <div id="about" class="w-11/12 max-h-56 overflow-y-auto">
      <p class="text-md p-1 text-ellipsis overflow-hidden">{{ modalData.info }}</p>
    </div>


    <button [disabled]="!canJoinToMeeting(modalData.teamId)" class="btn btn-primary w-2/5 mt-3"
            (click)="joinMeeting(modalData.teamId)">Join meeting
    </button>

    <ng-container *ngIf="!showEvent">
      <button [disabled]="!canAssignTeam()" class="btn btn-primary w-2/5 mt-3"
              (click)="assignTeam(modalData)">{{ modalData.isAvailable ? 'Assign' : 'Unassign' }} my team
      </button>
    </ng-container>

  </div>
</div>


<ng-template #hoDayCell let-weekEvent="weekEvent"
             let-tooltipPlacement="tooltipPlacement"
             let-eventClicked="eventClicked"
             let-tooltipTemplate="tooltipTemplate"
             let-tooltipAppendToBody="tooltipAppendToBody"
             let-tooltipDisabled="tooltipDisabled"
             let-tooltipDelay="tooltipDelay"
             let-daysInWeek="daysInWeek">

  <div class="cal-event" [ngStyle]="{
          color: weekEvent.event.color?.secondaryText,
          backgroundColor: weekEvent.event.color?.secondary,
          borderColor: weekEvent.event.color?.primary
        }"
       [mwlCalendarTooltip]="
          !tooltipDisabled
            ? (weekEvent.event.title
              | calendarEventTitle
                : (daysInWeek === 1 ? 'dayTooltip' : 'weekTooltip')
                : weekEvent.tempEvent || weekEvent.event)
            : '' "
       [tooltipPlacement]="tooltipPlacement"
       [tooltipEvent]="weekEvent.tempEvent || weekEvent.event"
       [tooltipTemplate]="tooltipTemplate"
       [tooltipAppendToBody]="tooltipAppendToBody"
       [tooltipDelay]="tooltipDelay"
       (mwlClick)="eventClicked.emit({ sourceEvent: $event })"
       (mwlKeydownEnter)="eventClicked.emit({ sourceEvent: $event })"
       tabindex="0"
       role="application"
       [attr.aria-label]="{ event: weekEvent.tempEvent || weekEvent.event } | calendarA11y: 'eventDescription'">

    <div class="flex items-center justify-center md:justify-around">
      <h5 class="text-3xl mr-5 text-primary hidden sm:block">{{ weekEvent.event.title }}</h5>
      <div class="text-2xl mr-5 hidden sm:block font-bold"
           [ngClass]="weekEvent.event.isAvailable ? 'text-success' : 'text-error'">
        <span *ngIf="weekEvent.event.isAvailable; else notAvailable">AVAILABLE</span>
        <ng-template #notAvailable>NOT AVAILABLE</ng-template>
      </div>
      <label (click)="handleEvent(weekEvent)" for="event-modal" class="btn btn-info btn-sm sm:btn-sm md:btn-md my-1">Show
        details</label>
    </div>
  </div>
</ng-template>
