<section>
  <div class="container px-8 mt-6 mx-auto text-xl">
    <h2 class="text-4xl font-bold mb-4 text-center mb-12">Welcome to the ultimate platform for organizing
      hackathons!</h2>
    <p class="mb-8">Our website is designed to help you easily create and manage hackathons, find and connect with other
      participants, and facilitate team communication and collaboration.</p>
    <p class="mb-8">With our user-friendly interface, you can create a new hackathon in just a few clicks. Simply fill
      out the details and parameters of your event, and our platform will take care of the rest.
      We also offer a powerful search function that allows users to browse existing hackathons, view details about each
      event.</p>
    <p class="mb-8">But that's not all - our website also includes a range of powerful team-building features to help
      you find and connect with other participants.
      You can create your own team or join an existing one, features including a chatroom with audio/video/screen share
      support to facilitate communication and collaboration.
      We even offer user-team matching to help you find the perfect team based on your skills and interests.</p>
    <p class="mb-8">And if you're looking for mentorship or guidance, our website also includes a calendar schedule
      where you can find and join to meetings with mentors, who can provide you support with your idea.
      We understand that hackathons can be challenging, and we're committed to providing you with all the tools and
      resources you need to succeed.</p>
    <p class="mb-8">So whether you're an experienced hacker or a newcomer to the world of hackathons, Hackathon
      organizer is the perfect platform to help you achieve your goals.
      <br/>Sign up today and join our vibrant community of innovators and problem-solvers!</p>
  </div>
</section>
