<section id="criteria-form">

  <div class="p-4 mx-auto w-4/5">

    <h2 class="mb-6 text-center text-4xl">Rate teams</h2>

    <ng-container *ngIf="teams.length > 0; else noTeams">
      <div class="flex flex-col items-center">
        <h2 class="mb-6 text-4xl">Team: {{ currentTeam?.name }}</h2>
        <p class="mb-6">Here you can rate each team on given criteria</p>

        <span class="text-center mb-4">Team {{ teamsNumber + 1}} of {{ teams.length }}</span>

        <div *ngIf="criteria.controls.length > 0" class="btn-group btn-group-vertical lg:btn-group-horizontal">
          <button class="btn btn-secondary" [disabled]="loading" (click)="previousTeam()">
            < Previous team
          </button>
          <button *ngIf="teamsNumber < teams.length - 1" class="btn btn-secondary"
                  [disabled]="criteria.controls.length < 1 || loading" (click)="nextTeam()">
            Save and go to next team >
          </button>
          <button *ngIf="teamsNumber === teams.length - 1" class="btn btn-secondary"
                  [disabled]="criteria.controls.length < 1 || loading" (click)="nextTeam()">
            Save
          </button>
        </div>
      </div>
      <div class="mt-12 my-8">

        <div class="text-center my-16">
          <span *ngIf="criteria.controls.length < 1" class="text-3xl">No criteria created yet</span>
        </div>

        <form class="space-y-6" [formGroup]="criteriaForm">

          <div formArrayName="criteria" *ngFor="let criteria of criteria.controls; let i = index" class="mx-12">

            <div class="" [formGroupName]="i">
              <h5 class="mb-4 text-xl text-center">{{ criteria.value.name }}</h5>

              <div class="p-2" formGroupName="answer">

                <input formControlName="value" (change)="changeValue($event, i)" type="range" min="0" max="100"
                       value="0"
                       class="range range-primary" step="10"/>

                <div class="w-full flex justify-between text-xs mb-3">
                  <span *ngFor="let num of [].constructor(scale + 1); let i = index">{{ i }}</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <ng-container *ngIf="loading">
        <img class="mx-auto max-h-12 my-4" src="assets/spinner.svg" alt="Loading spinner"/>
      </ng-container>
    </ng-container>
    <ng-template #noTeams>
      <div class="text-center mt-24">
        <span class="text-3xl">No teams created yet</span>
      </div>
    </ng-template>
  </div>
</section>
