<section id="criteria-form">
  <h4>Team rating {{ currentTeam.name }}</h4>
  <p>Here you can rate each team on given criteria.</p>
  <button class="btn btn-secondary" (click)="previousTeam()">< Previous team</button>
  <button class="btn btn-secondary" (click)="nextTeam()">Save and go to next team ></button>

  <div class="mt-12 my-8" id="q-1">

    <span>Team {{ teamNumber + 1}} of {{ teams.length }}</span>

    <form [formGroup]="criteriaForm" (ngSubmit)="rateTeam()">

      <div formArrayName="criteria" *ngFor="let c of criteria.controls; let i = index" class="mx-12">

        <div [formGroupName]="i">
          <h5 class="mb-4">{{ c.value.name }}</h5>

          <div formGroupName="criteriaAnswer">

            <input formControlName="value" (change)="changeValue($event, i)" type="range" min="0" max="100" value="0"
                   class="range" step="10"/>

            <div class="w-full flex justify-between text-xs px-2">
              <span *ngFor="let num of [].constructor(scale + 1); let i = index">{{ i }}</span>
            </div>
          </div>
        </div>
      </div>

      <input type="submit" value="Save">
    </form>
  </div>
</section>
