<section id="add-new-hackathon">

  <div class="p-4 mx-auto w-4/5">
    <div class="p-4 lg:p-8">

      <h2 class="text-center mb-6 text-4xl">Create new hackathon</h2>

      <form id="create-hackathon-form" novalidate (ngSubmit)="createHackathon()" [formGroup]="newHackathonForm"
            class="flex flex-col items-center justify-center space-y-4">
        <input id="hackathonNameId" formControlName="hackathonName" type="text" class="ho-input-primary"
               placeholder="Hackathon name (required)" [ngClass]="{'is-invalid': (newHackathonForm.get('hackathonName')?.touched
          ||
          newHackathonForm.get('hackathonName')?.dirty) &&
          !newHackathonForm.get('hackathonName')?.valid }"/>

        <span class="error-message" *ngIf="newHackathonForm.get('hackathonName')?.errors?.required &&
          newHackathonForm.get('hackathonName')?.touched">Please enter hackathon name.</span>
        <span class="error-message" *ngIf="newHackathonForm.get('hackathonName')?.errors?.minlength">Hackathon name must be longer
          than 10 characters.</span>

        <textarea id="descriptionId" formControlName="description" type="text" class="ho-textarea-primary resize-none"
                  rows="8"
                  placeholder="Description (required)" [ngClass]="{'is-invalid-textarea': (newHackathonForm.get('description')?.touched
          ||
          newHackathonForm.get('description')?.dirty) &&
          !newHackathonForm.get('description')?.valid }"></textarea>

        <span class="error-message"
              *ngIf="newHackathonForm.get('description')?.errors?.minlength">Description must be longer than 15 characters.</span>

        <span class="error-message" *ngIf="newHackathonForm.get('description')?.errors?.required &&
        newHackathonForm.get('description')?.touched">Please enter hackathon description.</span>

        <textarea id="organizerInfoId" formControlName="organizerInfo" type="text"
                  class="ho-textarea-primary resize-none" rows="8"
                  placeholder="Organizer info (required)" [ngClass]="{'is-invalid-textarea': (newHackathonForm.get('organizerInfo')?.touched
          ||
          newHackathonForm.get('organizerInfo')?.dirty) &&
          !newHackathonForm.get('organizerInfo')?.valid }"></textarea>

        <span class="error-message"
              *ngIf="newHackathonForm.get('organizerInfo')?.errors?.minlength">Organizer information name must be longer than 15 characters.</span>

        <span class="error-message" *ngIf="newHackathonForm.get('organizerInfo')?.errors?.required &&
        newHackathonForm.get('organizerInfo')?.touched">Please enter organizer information.</span>

        <input id="startDateId" formControlName="startDate" type="text" mwlFlatpickr
               class="ho-input-primary cursor-pointer"
               [enableTime]="true"
               [convertModelValue]="true"
               dateFormat="d-m-Y H:i"
               minDate="today"
               placeholder="Event start date not set (required)"
               [ngClass]="{'is-invalid': (newHackathonForm.errors?.dateErrorMessage &&
               newHackathonForm.get('startDate')?.touched &&
               newHackathonForm.get('startDate')?.dirty ||
          (newHackathonForm.get('startDate')?.errors?.required && newHackathonForm.get('startDate')?.touched))}"/>

        <span class="error-message" *ngIf="newHackathonForm.get('startDate')?.errors?.required &&
        newHackathonForm.get('startDate')?.touched">Please enter event date.</span>

        <input id="endDateId" formControlName="endDate" type="text" mwlFlatpickr class="ho-input-primary cursor-pointer"
               [enableTime]="true"
               [convertModelValue]="true"
               minDate="today"
               dateFormat="d-m-Y H:i"
               placeholder="Event end date not set (required)"
               [ngClass]="{'is-invalid': (newHackathonForm.errors?.dateErrorMessage
               && newHackathonForm.get('endDate')?.touched &&
          newHackathonForm.get('endDate')?.dirty ||
          (newHackathonForm.get('endDate')?.errors?.required && newHackathonForm.get('endDate')?.touched))}"/>

        <span class="error-message" *ngIf="newHackathonForm.get('endDate')?.errors?.required &&
        newHackathonForm.get('endDate')?.touched">Please enter end date.</span>

        <span *ngIf="newHackathonForm.errors?.dateErrorMessage" class="error-message">
          {{ newHackathonForm.errors?.dateErrorMessage }}</span>

        <ng-container *ngIf="loading">
          <img class="mx-auto max-h-12" src="assets/spinner.svg" alt="Loading spinner"/>
        </ng-container>
        <input [disabled]="!newHackathonForm.valid || loading" type="submit" class="btn btn-primary" value="Create">

      </form>
    </div>
  </div>
</section>
