<section id="hackathon-teams">

  <h3 class="text-center text-5xl mb-8">Browse teams</h3>

  <div id="team-search" class="flex justify-center">
    <input [formControl]="teamNameControl" type="text" class="input input-primary w-3/5 mb-6" placeholder="Search team">
  </div>

  <div class="overflow-x-auto w-full min-h-screen">

    <ng-container *ngIf="loading">
      <img class="mx-auto mt-36" src="assets/spinner.svg" alt="Loading spinner"/>
    </ng-container>

    <table *ngIf="!loading" class="table w-full">
      <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Tags</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="h-20" *ngFor="let team of teams | paginate: paginationConfig; index as i;">
        <th>
          <span *ngIf="currentPageNumber==0">{{(i + 1)}}</span>
          <span *ngIf="currentPageNumber>0">{{((currentPageNumber - 1) * 10) + (i + 1)}}</span>
        </th>
        <th>
          {{ team.name }}
        </th>
        <td>
          <div class="flex flex-wrap my-2">
            <div class="h-8" *ngFor="let tag of team.tags | slice:0:10">
              <label class="pill-small">
                <span type="checkbox" class="appearance-none">{{ tag.name }}</span>
              </label>
            </div>
            <span *ngIf="team.tags.length > 10">&nbsp;&nbsp;+{{ team.tags.length - 10 }}</span>
          </div>
        </td>
        <th></th>
        <th>
          <a routerLink="/hackathon/{{ hackathonId }}/team/{{ team.id }}">
            <button class="btn btn-outline">Details</button>
          </a>
        </th>
      </tr>
      </tbody>
    </table>
  </div>

  <ho-pagination [config]="paginationConfig" (pageChangeEvent)="onPageChange($event)"></ho-pagination>
</section>
