<section id="team-profile">

  <div class="flex flex-col">

    <div class="flex flex-col md:flex-row">
      <div class="m-12 flex justify-center md:w-2/5" id="profile-image-wrapper">

        <div class="avatar">
          <div class="max-h-48 w-48 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <img alt="profile image"
                 src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name={{team?.name}}&length=1"/>
          </div>
        </div>
      </div>

      <div class="flex flex-col md:w-3/5" id="user-data">

        <span class="mt-8 text-3xl">Team: <span *ngIf="team?.name">{{ team?.name }}</span></span>

        <h4 class="text-2xl my-4">Description:</h4>
        <div class="max-h-48 overflow-y-auto w-full" id="about">
          <p *ngIf="team?.description" class="mt-2">{{ team?.description }}</p>
        </div>

        <div *ngIf="isHackathonMember && isUserTeamMember"
             class="mt-10 flex flex-col md:flex-row justify-center items-center">

          <a class="m-3 w-full md:w-auto" routerLink="/hackathon/{{ hackathonId }}/team/{{ teamId }}/chat">
            <button class="btn btn-accent w-full">Join team chat</button>
          </a>

          <button (click)="navigateToTeamEdit()" *ngIf="isOwner" class="btn btn-accent m-3 w-full md:w-auto">
            Edit team
          </button>

          <a class="m-3 w-full md:w-auto" routerLink="/hackathon/{{ hackathonId }}/participants">
            <button class="btn btn-success w-full">Invite users</button>
          </a>

          <button (click)="openOrCloseTeamForMembers()" *ngIf="isOwner && team"
                  class="btn btn-info m-3 w-full md:w-auto">
            {{ team.isOpen ? 'Close for members' : 'Open for members' }}
          </button>

        </div>

        <button (click)="joinToTeam()" *ngIf="!isOwner && isUserHackathonMember"
                class="btn btn-success m-4 w-3/5 mx-auto w-full md:w-auto">Join to team
        </button>

      </div>
    </div>

    <div class="mt-8" id="tags">
      <span class="text-2xl font-bold my-5">Tags:</span>

      <div *ngIf="team?.tags" class="flex flex-wrap mt-4">
        <div *ngFor="let tag of team?.tags" class="pill" id="pill-{{ tag.name }}">
          {{ tag.name }}
        </div>

      </div>
    </div>

    <div *ngIf="isHackathonMember" class="mt-12" id="team-members">

      <span class="text-2xl font-bold my-5">Members:</span>

      <ul class="mt-4 list-disc">
        <li *ngFor="let member of teamMembers" class="ml-8 text-xl">{{ member.username }}</li>
      </ul>

    </div>
  </div>
</section>
