<section id="team-profile">

  <div class="grid grid-cols-2 gap-4">

    <div class="m-12 flex justify-center" id="profile-image-wrapper">

      <div class="avatar">
        <div class="w-48 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src="https://placeimg.com/300/300/people" alt="profile image"/>
        </div>
      </div>

    </div>


    <div id="user-data" class="flex flex-col text-2xl">

      <span class="mt-8 text-3xl">Team: {{ team.name }}</span>

      <div class="mt-8 text-xl" id="about">
        <h4>About:</h4>
        <p>{{ team.description }}</p>
      </div>

      <div class="mt-10 space-x-4 space-y-3">

        <a routerLink="/hackathon/{{ hackathonId }}/team/{{ teamId }}/chat">
          <button class="btn btn-accent">Join team chat</button>
        </a>

        <button class="btn btn-accent" *ngIf="isOwner" (click)="redirectToTeamEdit()">Edit team</button>

        <a routerLink="/hackathon/{{ hackathonId }}/participants">
          <button class="btn btn-success">Invite user</button>
        </a>

        <button *ngIf="!isHackathonMember" (click)="joinToTeam()" class="btn btn-success">Join to team</button>

        <button class="btn btn-info" (click)="openOrCloseTeamForMembers()">
          {{ team.isOpen ? 'Close for members' : 'Open for members' }}</button>

      </div>

    </div>

    <div class="col-span-2 mt-12">
      <div class="flex flex-col">
        <span class="text-3xl font-bold mb-5">Team tags:</span>

        <div class="flex flex-wrap">
          <div id="pill" *ngFor="let tag of team.tags"
               class="py-2 px-6 rounded-full border-2 w-auto m-2 border-white-600 flex justify-center items-center font-bold">
            {{ tag.name }}
          </div>

        </div>
      </div>
    </div>

    <div class="col-span-2 mt-12" id="team-members">

      <span class="text-3xl font-bold mb-5">Members:</span>

       <ul class="mt-4 list-disc">
         <li class="ml-8 text-xl" *ngFor="let member of teamMembers">{{ member.username }}</li>
       </ul>

    </div>
  </div>
</section>
