<section class="flex justify-center items-center" id="add-new-team" xmlns="http://www.w3.org/1999/html">

  <div class="p-4 w-4/5">
    <div class="p-4 lg:p-8">

      <h2 class="text-center mb-6 text-4xl">Create new team</h2>

      <form id="create-team-form" novalidate (ngSubmit)="createTeam()" [formGroup]="newTeamForm"
            class="flex flex-col items-center justify-center space-y-4">
        <input id="teamNameId" formControlName="teamName" type="text" class="ho-input-primary"
               placeholder="Team name (required)" [ngClass]="{'is-invalid': (newTeamForm.get('teamName')?.touched
          ||
          newTeamForm.get('teamName')?.dirty) &&
          !newTeamForm.get('teamName')?.valid }"/>

        <span class="error-message" *ngIf="newTeamForm.get('teamName')?.errors?.required && newTeamForm.get('teamName')?.touched">
          Please enter hackathon name.</span>
        <span class="error-message" *ngIf="newTeamForm.get('teamName')?.errors?.minlength && newTeamForm.get('teamName')?.touched">
          The team name must be longer than 5 characters.</span>

        <textarea id="descriptionId" formControlName="description" type="text" class="ho-textarea-primary" rows="8"
               placeholder="Description (required)" [ngClass]="{'is-invalid': (newTeamForm.get('description')?.touched
          ||
          newTeamForm.get('description')?.dirty) &&
          !newTeamForm.get('description')?.valid }"></textarea>

        <span class="error-message" *ngIf="newTeamForm.get('description')?.errors?.minlength && newTeamForm.get('description')?.touched">
          The description must be longer than 15 characters.</span>
        <span class="error-message" *ngIf="newTeamForm.get('description')?.errors?.required && newTeamForm.get('description')?.touched">
          Please enter team description.</span>

        <span class="text-center mt-4">Select tags that will help find new team members:</span>

        <div class="flex flex-wrap my-5">
        <div formGroupName="tags" *ngFor="let tag of tags; let i = index">
          <label  class="flex items-center btn rounded-full m-2" [ngClass]="tag.isSelected ? 'btn-success' : 'btn-outline'">+
          <input type="checkbox" class="appearance-none" (change)="markTag(i)" [formControlName]="tag.id" />{{ tags[i].name }}
          </label>
        </div>
        </div>

        <input [disabled]="!newTeamForm.valid" type="submit" class="btn btn-primary" value="Create">
      </form>

    </div>

  </div>

</section>
