<section id="rating-criteria-form">

  <div class="p-4 mx-auto w-4/5">
    <div class="p-4 lg:p-8">

      <h2 class="text-center mb-6 text-4xl">Add rating criteria</h2>
      <p class="text-center mb-6">Below add criteria which will be used by jury to rate teams</p>

      <form id="create-hackathon-form" novalidate [formGroup]="criteriaForm" (ngSubmit)="saveCriteria()"
            class="flex flex-col items-center justify-center space-y-4">

        <div class="w-full" *ngFor="let c of criteria.controls; let i=index">

          <div class="flex w-full justify-center" [formGroupName]="i">
            <input id="hackathonNameId" formControlName="name" type="text" class="ho-input-primary"
                   placeholder="Type criteria here" [ngClass]="{'is-invalid': (criteriaForm.get('name')?.touched
          ||
          criteriaForm.get('name')?.dirty) &&
          !criteriaForm.get('name')?.valid }"/>

            <span class="error-message" *ngIf="criteriaForm.get('name')?.errors?.required &&
          criteriaForm.get('hackathonName')?.touched">Please enter hackathon name.</span>
            <span class="error-message" *ngIf="criteriaForm.get('name')?.errors?.minlength">Hackathon name must be longer
          than 5 characters.</span>

            <button (click)="remove(i)" class="ml-4 btn btn-error">Remove</button>
          </div>
        </div>

        <input [disabled]="!criteriaForm.valid" type="submit" class="btn btn-primary" value="Save">
      </form>
    </div>
  </div>
</section>

