<section id="rating-criteria-form">

  <div class="p-4 mx-auto w-4/5">
    <div class="p-4 lg:p-8 flex flex-col items-center justify-center">

      <h2 class="mb-6 text-4xl">Add rating criteria</h2>
      <p class="mb-6">Below add criteria which will be used by jury to rate teams</p>

      <button (click)="addCriteria()" class="btn btn-info m-4">Add new</button>

      <form id="create-hackathon-form" novalidate [formGroup]="criteriaForm" (ngSubmit)="saveCriteria()"
            class="flex flex-col items-center justify-center w-full space-y-4">

        <div class="w-full" *ngFor="let c of criteria.controls; let i=index">

          <div formArrayName="criteria">

            <div class="" [formGroupName]="i">

              <div class="flex justify-center w-full">
                <input id="nameId" formControlName="name" type="text" class="ho-input-primary"
                       placeholder="Type criteria here"
                       [ngClass]="{'is-invalid': (criteriaForm.get('criteria')?.get(i.toString())?.get('name')?.touched ||
          criteriaForm.get('criteria')?.get(i.toString())?.get('name')?.dirty) &&
          !criteriaForm.get('criteria')?.get(i.toString())?.get('name')?.valid }"/>

                <button (click)="removeCriteria(i)" [disabled]="loading" class="ml-4 btn btn-error">Remove</button>
              </div>

              <div id="error" class="mt-2 flex justify-center w-full">
              <span class="error-message"
                    *ngIf="criteriaForm.get('criteria')?.get(i.toString())?.get('name')?.errors?.minlength">Criteria name must be longer than 5 characters.</span>

                <span class="error-message" *ngIf="criteriaForm.get('criteria')?.get(i.toString())?.get('name')?.errors?.required &&
                    criteriaForm.get('criteria')?.get(i.toString())?.get('name')?.touched">Please enter criteria name.</span>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" [disabled]="loading" class="btn btn-success" value="Save">
      </form>

      <ng-container *ngIf="loading">
        <img class="mx-auto max-h-12" src="assets/spinner.svg" alt="Loading spinner"/>
      </ng-container>
    </div>
  </div>
</section>

