<section id="team-chat">

  <div *ngIf="inCall" class="w-full relative block">
    <video #remoteVideo class="z-10 rounded-lg mx-auto w-full bg-white" id="remote-view"
           poster="assets/poster-no-video.svg"></video>

    <video
      #localVideo
      autoplay
      class="z-20 absolute bottom-0 rounded-tr-lg rounded-bl-lg h-42 w-64 bg-gray-500 bg-opacity-50 hidden md:block"
      id="self-view" muted poster="assets/poster-person.svg"></video>

    <div class="absolute right-0 bottom-0 md:h-14 bg-gray-600 w-full md:w-3/5 z-10 rounded-t-lg
        flex justify-evenly bg-opacity-40">
      <button (click)="toggleVideoSharing()" [disabled]="locked"
              [ngClass]="videoActive ? 'btn-success' : '' || locked ? 'bg-base-200 cursor-not-allowed' : ''"
              class="video-button">
        <img alt="Camera" src="assets/icons/camera.svg">
      </button>

      <button (click)="startSharingScreen()" [disabled]="locked"
              [ngClass]="screenActive ? 'btn-success' : '' || locked ? 'bg-base-200 cursor-not-allowed' : ''"
              class="video-button">
        <img alt="Screen share" src="assets/icons/screen-share.svg">
      </button>

      <button (click)="toggleAudiSharing()" [ngClass]="audioActive ? 'btn-success' : ''" class="video-button">
        <img *ngIf="!audioActive" alt="Microphone" src="assets/icons/micro.svg">
        <img *ngIf="audioActive" alt="Mute microphone" src="assets/icons/mute.svg">
      </button>

      <button (click)="leaveSession()" class="bg-error video-button hover:scale-110">
        <img alt="Disconnect" src="assets/icons/disconnect.svg">
      </button>

      <button (click)="toggleFullscreen()" class="video-button">
        <img alt="Fullscreen" src="assets/icons/fullscreen.svg">
      </button>

      <div #subscribersAudio class="invisible"></div>
    </div>
  </div>


  <div class="w-full md:w-4/5 mx-auto flex flex-col md:flex-row mt-8 justify-center" id="chat">
    <div class="mx-0 md:mx-8 flex flex-col w-full w-full md:w-4/5">
      <textarea [(ngModel)]="chatMessages" class="textarea textarea-primary resize-none w-full" id="chat-window"
                readonly
                rows="15"></textarea>
      <div class="flex items-center mt-4">
        <input (keydown.enter)="sendTextMessage()" [(ngModel)]="chatEntry"
               class="mr-5 w-full input input-primary w-full"
               placeholder="Type your message here..." type="text">
        <input (click)="sendTextMessage()" class="btn btn-primary" type="submit" value="Send"/>
      </div>
    </div>
    <div class="md:ml-4 mt-4 bg-gray-800 py-3 px-6 rounded-lg w-3/5 md:w-1/5 mx-auto flex flex-col justify-between">
      <div>
        <span class="text-2xl text-success">Online users: </span>
        <ul class="mt-3 space-y-2">
          <li *ngFor="let user of users" class="bg-gray-600 p-2 rounded-lg">{{ user }}</li>
        </ul>
      </div>

      <button (click)="joinSession()" [disabled]="session" class="btn btn-info mt-4" id="session-join-button">Join voice
        chat
      </button>

    </div>
  </div>
</section>
