<section id="user-profile">

  <div class="flex flex-col">
    <div class="flex flex-col md:flex-row">
      <div class="m-12 flex justify-center md:w-2/5" id="profile-image-wrapper">
        <div class="avatar">
          <div class="max-h-48 w-48 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <img alt="profile image" src="{{ avatarUrl }}"/>
          </div>
        </div>
      </div>

      <div class="flex flex-col text-2xl md:w-3/5" id="user-data">

        <div *ngIf="user" class="flex justify-between mt-6">
          <h4>Username: {{ user.username }}</h4>

          <label (click)="editProfile()" *ngIf="isThisMyProfile" class="btn btn-outline btn-success hidden md:flex"
                 for="edit-modal">Edit</label>
        </div>

        <div class="mt-4">
          <h4 *ngIf="currentTeamName">Team: {{ currentTeamName }}</h4>
          <h4 *ngIf="!currentTeamName">Team: -----</h4>
        </div>

        <div class="my-6" id="about">
          <h4>About:</h4>
          <p *ngIf="user?.description">{{ user.description }}</p>
          <p *ngIf="!user?.description">No description</p>
        </div>
      </div>
    </div>

    <div *ngIf="isUserIsHackathonParticipant" class="flex flex-col md:flex-row justify-around">

      <label (click)="editProfile()" *ngIf="isThisMyProfile" class="btn btn-outline btn-success md:hidden"
             for="edit-modal">Edit</label>

      <button (click)="setUserRole(Role.MENTOR)" *ngIf="isUserOrganizer && !isThisMyProfile"
              class="btn btn-info my-5">
        Set as mentor
      </button>
      <button (click)="setUserRole(Role.JURY)" *ngIf="isUserOrganizer && !isThisMyProfile" class="btn btn-info my-5">
        Set as jury
      </button>

      <button (click)="inviteToTeam()" [disabled]="isThisMyProfile || isUserNotInMyHackathon ||
         !currentUser?.currentTeamId || currentUser?.currentTeamId === user.currentTeamId" class="btn btn-info my-5">
        Invite to team
      </button>
    </div>
  </div>

  <div>
    <div class="flex flex-col">
      <h4 class="text-3xl font-bold mb-5">Tags:</h4>

      <span class="text-xl" *ngIf="user && user.tags.length < 1 || currentUser && currentUser.tags.length < 1">
          No tags selected yet
      </span>

      <div *ngIf="user" class="flex flex-wrap my-5">
        <div *ngFor="let tag of user.tags;">
          <label class="pill">
            <span class="appearance-none" type="checkbox">{{ tag.name }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="my-4 md:w-3/5" id="teams-suggestions">
    <div *ngIf="isThisMyProfile" class="collapse collapse-arrow">
      <input (click)="getUserTeamSuggestions()" type="checkbox"/>
      <div class="collapse-title text-xl font-medium border border-primary rounded-lg">
        Show matching teams
      </div>
      <div class="collapse-content">

        <ng-container *ngIf="loading">
          <img alt="Loading spinner" class="mx-auto mt-24" src="assets/spinner.svg"/>
        </ng-container>

        <div *ngIf="teamSuggestions.length < 1 && !loading" class="w-full text-center mt-4">
          <span class="text-2xl">Nothing found :(</span>
        </div>

        <div *ngFor="let team of teamSuggestions; index as i"
             class="flex items-center justify-between my-2 border-x-2 px-3 border-l-secondary border-r-secondary">

          <span class="mr-2">{{(i + 1)}}</span>
          <span class="max-w-10 truncate">{{ team.name }}</span>
          <div class="flex flex-wrap">
            <div *ngFor="let tag of team.tags | slice:0:3">
              <div class="pill-small justify-self-end">{{ tag.name }}</div>
            </div>
            <span *ngIf="team.tags.length > 3">&nbsp;&nbsp;+{{ team.tags.length - 3 }}</span>
          </div>
          <a routerLink="{{ getTeamUrl(team.id) }}">
            <button class="btn">Show details</button>
          </a>
        </div>
      </div>

    </div>

    <div *ngIf="isThisMyProfile" id="notifications" class="mt-4 md:w-3/5">

      <span class="text-xl font-medium">Notifications:</span>

      <div *ngFor="let notification of notificationsArray; let i = index;" class="mt-4">

        <div class="alert alert-info shadow-lg mb-2 space-y-4 w-full">
          <div class="flex justify-between w-full">

            <div class="flex">
              <svg class="stroke-current flex-shrink-0 w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"></path>
              </svg>
              <span>{{ notification.message }}</span>
            </div>

            <div *ngIf="notification.notificationType === NotificationType.INVITATION"
                 class="flex items-center justify-center">
              <button (click)="updateInvitation(i, true)" class="m-3 p-2 bg-success rounded-lg shadow">Accept</button>
              <button (click)="updateInvitation(i,false)" class="m-3 p-2 bg-error rounded-lg shadow">Reject</button>
            </div>

            <div *ngIf="notification.notificationType === NotificationType.MEETING">
              <button (click)="navigateToMeeting(i)" class="btn btn-sm btn-success">JOIN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>

      <input [checked]="editMode" class="modal-toggle" id="edit-modal" type="checkbox"/>
      <div *ngIf="editMode" class="modal modal-bottom modal-top sm:modal-middle">
        <div class="modal-box flex flex-col">

          <label (click)="editMode = false" class="btn btn-sm btn-circle absolute right-2 top-2"
                 for="edit-modal">✕</label>

          <h3 class="font-bold text-lg text-center">Profile edit</h3>
          <form (ngSubmit)="saveProfile()" [formGroup]="userEditForm" novalidate>
            <span class="font-bold text-lg">About: </span>
            <textarea class="ho-textarea-primary mt-2" formControlName="description"
                      placeholder="User description" rows="5"></textarea>

            <span class="font-bold text-lg">Select tags: </span>
            <div class="flex flex-wrap my-2 max-h-96 overflow-y-auto">
              <div *ngFor="let tag of tags; let i = index" formGroupName="tags">
                <label [ngClass]="tag.isSelected ? 'btn-success' : 'btn-outline'"
                       class="flex items-center btn rounded-full m-2">
                  <input (change)="markTag(i)" [formControlName]="tag.id" class="appearance-none"
                         type="checkbox"/>{{ tags[i].name }}
                </label>
              </div>
            </div>

            <div class="text-center mt-5">
              <input class="btn btn-success" for="my-modal" type="submit" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
