<section id="user-profile">

  <div class="grid grid-cols-2 gap-4">

    <div class="m-12 flex justify-center" id="profile-image-wrapper">

      <div class="avatar">
        <div class="max-h-48 w-48 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src="{{ avatarUrl }}" alt="profile image"/>
        </div>
      </div>

    </div>


    <div id="user-data" class="flex flex-col text-2xl">

      <div *ngIf="user" class="flex justify-between mt-6">
        <h4>Username: {{ user.username }}</h4>

        <label *ngIf="isThisMyProfile" for="edit-modal" (click)="editProfile()"
               class="btn btn-outline btn-success">Edit</label>
      </div>

      <div class="mt-4">
        <h4 *ngIf="currentTeamName">Team: {{ currentTeamName }}</h4>
        <h4 *ngIf="!currentTeamName">Team: -----</h4>
      </div>

      <div class="my-6" id="about">
        <h4>About:</h4>
        <p *ngIf="user?.description">{{ user.description }}</p>
        <p *ngIf="!user?.description">No description</p>
      </div>

      <div class="flex justify-around" *ngIf="isUserIsHackathonParticipant">
        <button *ngIf="isUserOrganizer && !isThisMyProfile" (click)="setUserRole(Role.MENTOR)"
                class="btn btn-info my-5">Set as mentor</button>
        <button *ngIf="isUserOrganizer && !isThisMyProfile" (click)="setUserRole(Role.JURY)"
                class="btn btn-info my-5">Set as jury</button>

        <button [disabled]="isThisMyProfile || isUserNotInMyHackathon || !currentUser?.currentTeamId ||
currentUser?.currentTeamId===user.currentTeamId" (click)="inviteToTeam()"
                class="btn btn-info my-5">Invite to team</button>
      </div>

      <button *ngIf="checkIfUserHasMentorOrOrganizerRole() && isThisMyProfile" class="btn"
              routerLink="/hackathon/{{ currentUser?.currentHackathonId }}/schedule">Go to my schedule
      </button>
    </div>

    <div class="col-span-2">
      <div class="flex flex-col">
        <h4 class="text-3xl font-bold mb-5">Tags</h4>

        <div *ngIf="user" class="flex flex-wrap my-5">
          <div *ngFor="let tag of user.tags;">
            <label class="pill">
              <span type="checkbox" class="appearance-none">{{ tag.name }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div id="teams-suggestions">
      <div *ngIf="isThisMyProfile" class="collapse collapse-arrow">
        <input (click)="getUserTeamSuggestions()" type="checkbox"/>
        <div class="collapse-title text-xl font-medium border border-primary rounded-lg">
          Show matching teams
        </div>
        <div class="collapse-content">

          <ng-container *ngIf="loading">
            <img class="mx-auto mt-24" src="assets/spinner.svg" alt="Loading spinner"/>
          </ng-container>

          <div *ngIf="teamSuggestions.length < 1 && !loading" class="w-full text-center mt-4">
            <span class="text-2xl">Nothing found :(</span>
          </div>

          <div class="flex items-center justify-between my-2 border-x-2 px-3 border-l-secondary border-r-secondary"
               *ngFor="let team of teamSuggestions; index as i">

            <span class="mr-2">{{(i + 1)}}</span>
            <span class="max-w-10 truncate">{{ team.name }}</span>
            <div class="flex flex-wrap">
              <div *ngFor="let tag of team.tags | slice:0:3">
                <div class="pill-small justify-self-end">{{ tag.name }}</div>
              </div>
              <span *ngIf="team.tags.length > 3">&nbsp;&nbsp;+{{ team.tags.length - 3 }}</span>
            </div>
            <a routerLink="{{ getTeamUrl(team.id) }}">
              <button class="btn">Show details</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isThisMyProfile" id="notifications">

      <span class="text-xl font-medium">Notifications:</span>

      <div class="mt-4" *ngFor="let notification of notificationsArray; let i = index;">

        <div class="alert alert-info shadow-lg mb-2 space-y-4 w-full">
          <div class="flex justify-between w-full">

            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   class="stroke-current flex-shrink-0 w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <span>{{ notification.message }}</span>
            </div>

            <div class="flex items-center justify-center"
                 *ngIf="notification.notificationType === NotificationType.INVITATION">
              <button class="m-3 p-2 bg-success rounded-lg shadow" (click)="updateInvitation(i, true)">Accept</button>
              <button class="m-3 p-2 bg-error rounded-lg shadow" (click)="updateInvitation(i,false)">Reject</button>
            </div>

            <div *ngIf="notification.notificationType === NotificationType.MEETING">
              <button class="btn btn-sm btn-success" (click)="navigateToMeeting(i)">JOIN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>

      <input type="checkbox" [checked]="editMode" id="edit-modal" class="modal-toggle"/>
      <div *ngIf="editMode" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box flex flex-col">

          <label for="edit-modal" (click)="editMode = false"
                 class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>

          <h3 class="font-bold text-lg text-center">Profile edit</h3>
          <form novalidate (ngSubmit)="save()" [formGroup]="userEditForm">
            <span class="font-bold text-lg">About: </span>
            <textarea formControlName="description" class="ho-textarea-primary mt-2"
                      placeholder="User description" rows="5"></textarea>

            <span class="font-bold text-lg">Select tags: </span>
            <div class="flex flex-wrap my-2">
              <div formGroupName="tags" *ngFor="let tag of tags; let i = index">
                <label class="flex items-center btn rounded-full m-2"
                       [ngClass]="tag.isSelected ? 'btn-success' : 'btn-outline'">
                  <input type="checkbox" class="appearance-none" (change)="markTag(i)"
                         [formControlName]="tag.id"/>{{ tags[i].name }}
                </label>
              </div>
            </div>

            <div class="text-center mt-5">
              <input type="submit" for="my-modal" class="btn btn-success" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
