<section id="hackathons-list">

  <h2 class="text-center text-5xl mb-8">Browse hackathons</h2>

  <div class="min-h-screen">

    <ng-container *ngIf="loading">
      <img alt="Loading spinner" class="mx-auto mt-36" src="assets/spinner.svg"/>
    </ng-container>

    <table *ngIf="!loading" class="table w-full">
      <thead>
      <tr class="mobile-view-table-row">
        <th></th>
        <th>Name</th>
        <th>Participants number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
      </tr>
      <tr class="md:hidden whitespace-normal">
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr class="flex flex-col md:table-row" *ngFor="let hackathon of hackathons | paginate: paginationConfig; index as i;">
        <td class="mobile-view-table-cell">
          <span *ngIf="currentPageNumber==0">{{(i + 1)}}</span>
          <span *ngIf="currentPageNumber>0">{{((currentPageNumber - 1) * 10) + (i + 1)}}</span>
        </td>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img alt="Avatar" src="https://placeimg.com/80/80/people"/>
              </div>
            </div>
            <div>
              <div class="font-bold whitespace-normal">{{ hackathon.name }}</div>
            </div>
          </div>
        </td>
        <td class="mobile-view-table-cell">
          {{ hackathon.hackathonParticipantsNumber }}
        </td>
        <td class="mobile-view-table-cell">{{ hackathon.eventStartDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td class="mobile-view-table-cell">{{ hackathon.eventEndDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td class="mx-auto">
          <a routerLink="/hackathons/{{ hackathon.id }}">
            <button class="btn btn-outline btn-md">Details</button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ho-pagination (pageChangeEvent)="onPageChange($event)" [config]="paginationConfig"></ho-pagination>
</section>
