<section id="hackathons-list">

  <h2 class="text-center text-5xl mb-8">Browse hackathons</h2>

  <div class="overflow-x-auto w-full min-h-screen">

    <ng-container *ngIf="loading">
      <img class="mx-auto mt-36" src="assets/spinner.svg" alt="Loading spinner"/>
    </ng-container>

    <table *ngIf="!loading" class="table w-full">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Participants number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hackathon of hackathons | paginate: paginationConfig; index as i;">
        <th>
          <span *ngIf="currentPageNumber==0">{{(i + 1)}}</span>
          <span *ngIf="currentPageNumber>0">{{((currentPageNumber - 1) * 10) + (i + 1)}}</span>
        </th>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="https://placeimg.com/80/80/people" alt="Avatar Tailwind CSS Component"/>
              </div>
            </div>
            <div>
              <div class="font-bold">{{ hackathon.name }}</div>
            </div>
          </div>
        </td>
        <td>
          {{ hackathon.hackathonParticipantsNumber }}
        </td>
        <td>{{ hackathon.eventStartDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ hackathon.eventEndDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <th>
          <a routerLink="/hackathon/{{ hackathon.id }}">
            <button class="btn btn-outline btn-md">Details</button>
          </a>
        </th>
      </tr>
      </tbody>
    </table>
  </div>

  <ho-pagination [config]="paginationConfig" (pageChangeEvent)="onPageChange($event)"></ho-pagination>
</section>
