/* You can add global styles to this file, and also import other style files */
@tailwind base;
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.ho-section {
  @apply rounded-2xl mb-6;
}

.error-message {
   @apply text-error;
}

.ho-input-primary {
  @apply input input-bordered input-primary w-full max-w-lg bg-gray-700;
}

.ho-textarea-primary {
  @apply textarea textarea-primary bg-gray-700 w-full max-w-lg;
}

.is-invalid {
  @apply input-error;
}

.is-invalid-textarea {
  @apply textarea-error;
}

textarea::-webkit-scrollbar {
  width: 0.7rem;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: hsl(var(--p));
  border-radius: 10px;
}

.video-button {
  @apply p-4 flex justify-center items-center hover:scale-110;
}

.collapse {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);

  &.show {
    max-height: 99rem;
    transition: max-height .5s ease-in-out;
  }
}

:root {
  --ov-primary-color: #303030;
  --ov-secondary-color: #3e3f3f;
  --ov-tertiary-color: #598eff;
  --ov-warn-color: #eb5144;
  --ov-accent-color: #ffae35;
  --ov-light-color: #e6e6e6;

  --ov-logo-background-color: #3a3d3d;

  --ov-text-color: #ffffff;

  --ov-panel-text-color: #1d1d1d;
  --ov-panel-background: #ffffff;

  --ov-buttons-radius: 50%;
  --ov-leave-button-radius: 10px;
  --ov-video-radius: 5px;
  --ov-panel-radius: 5px;
}

@tailwind components;
@tailwind utilities;


