<section id="add-new-hackathon">

  <div class="p-4 mx-auto w-full md:w-4/5">
    <div class="p-4 lg:p-8">

      <h2 class="text-center mb-6 text-4xl">{{ editMode ? 'Update hackathon' : 'Create new hackathon'}}</h2>

      <form (ngSubmit)="saveHackathon()" [formGroup]="newHackathonForm"
            class="flex flex-col items-center justify-center space-y-4" id="create-hackathon-form"
            novalidate>
        <input [ngClass]="{'is-invalid': (newHackathonForm.get('hackathonName')?.touched ||
          newHackathonForm.get('hackathonName')?.dirty) &&
          !newHackathonForm.get('hackathonName')?.valid }" class="ho-input-primary" formControlName="hackathonName"
               id="hackathonNameId"
               placeholder="Hackathon name (required)" type="text"/>

        <span *ngIf="newHackathonForm.get('hackathonName')?.errors?.required &&
          newHackathonForm.get('hackathonName')?.touched" class="error-message">Please enter hackathon name.</span>
        <span *ngIf="newHackathonForm.get('hackathonName')?.errors?.minlength" class="error-message">
          Hackathon name must be longerthan 10 characters.</span>
        <textarea [ngClass]="{'is-invalid-textarea': (newHackathonForm.get('description')?.touched ||
          newHackathonForm.get('description')?.dirty) &&
          !newHackathonForm.get('description')?.valid }" class="ho-textarea-primary resize-none"
                  formControlName="description" id="descriptionId"
                  placeholder="Description (required)"
                  rows="8" type="text"></textarea>

        <span *ngIf="newHackathonForm.get('description')?.errors?.minlength"
              class="error-message">Description must be longer than 15 characters.</span>

        <span *ngIf="newHackathonForm.get('description')?.errors?.required &&
        newHackathonForm.get('description')?.touched" class="error-message">Please enter hackathon description.</span>

        <textarea [ngClass]="{'is-invalid-textarea': (newHackathonForm.get('organizerInfo')?.touched ||
          newHackathonForm.get('organizerInfo')?.dirty) &&
          !newHackathonForm.get('organizerInfo')?.valid }" class="ho-textarea-primary resize-none"
                  formControlName="organizerInfo"
                  id="organizerInfoId" placeholder="Organizer info (required)"
                  rows="8" type="text"></textarea>

        <span *ngIf="newHackathonForm.get('organizerInfo')?.errors?.minlength"
              class="error-message">Organizer information name must be longer than 15 characters.</span>

        <span *ngIf="newHackathonForm.get('organizerInfo')?.errors?.required &&
        newHackathonForm.get('organizerInfo')?.touched" class="error-message">Please enter organizer information.</span>

        <input [convertModelValue]="true" [enableTime]="true"
               [ngClass]="{'is-invalid': (newHackathonForm.errors?.dateErrorMessage &&
               newHackathonForm.get('startDate')?.touched &&
               newHackathonForm.get('startDate')?.dirty ||
          (newHackathonForm.get('startDate')?.errors?.required && newHackathonForm.get('startDate')?.touched))}"
               class="ho-input-primary cursor-pointer"
               dateFormat="d-m-Y H:i"
               formControlName="startDate"
               id="startDateId"
               minDate="today"
               mwlFlatpickr
               placeholder="Event start date not set (required)"
               type="text"/>

        <span *ngIf="newHackathonForm.get('startDate')?.errors?.required &&
        newHackathonForm.get('startDate')?.touched" class="error-message">Please enter event date.</span>

        <input [convertModelValue]="true" [enableTime]="true"
               [ngClass]="{'is-invalid': (newHackathonForm.errors?.dateErrorMessage &&
               newHackathonForm.get('endDate')?.touched &&
          newHackathonForm.get('endDate')?.dirty ||
          (newHackathonForm.get('endDate')?.errors?.required && newHackathonForm.get('endDate')?.touched))}"
               class="ho-input-primary cursor-pointer" dateFormat="d-m-Y H:i"
               formControlName="endDate"
               id="endDateId"
               minDate="today"
               mwlFlatpickr
               placeholder="Event end date not set (required)"
               type="text"/>

        <span *ngIf="newHackathonForm.get('endDate')?.errors?.required &&
        newHackathonForm.get('endDate')?.touched" class="error-message">Please enter end date.</span>

        <span *ngIf="newHackathonForm.errors?.dateErrorMessage" class="error-message">
          {{ newHackathonForm.errors?.dateErrorMessage }}</span>

        <ng-container *ngIf="loading">
          <img alt="Loading spinner" class="mx-auto max-h-12" src="assets/spinner.svg"/>
        </ng-container>
        <input [disabled]="!newHackathonForm.valid || loading" class="btn btn-primary" type="submit"
               [value]="editMode ? 'Save' : 'Create'">

      </form>
    </div>
  </div>
</section>
